html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

body,
html {
  background: #000;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}

#bg-img {
  position: fixed;
  overflow: hidden;
  display: block;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1;
}

.frame {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 400px #000;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.border {
  position: absolute;
  z-index: 9999;
  background-color: #b8860b;
}

.border.left {
  bottom: 60px;
  left: 60px;
  height: 0px;
  width: 1px;
}

.border.top {
  top: 60px;
  left: 60px;
  height: 1px;
  width: 0px;
}

.border.right {
  right: 60px;
  top: 60px;
  height: 0px;
  width: 1px;
}

.border.bottom {
  bottom: 60px;
  right: 60px;
  height: 1px;
  width: 0px;
}

#site > footer {
  position: absolute;
  bottom: -100px;
  color: #b8860b;
  font-size: 15px;
  text-align: left;
  width: 100%;
  font-weight: 300;
  z-index: 3;
}

#site > footer > .text {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: absolute;
  left: 60px;
}

#site > footer > .text > a {
  color: #b8860b;
  display: inline-block;
  font-weight: 300;
}

#site > footer > nav {
  display: block;
  font-size: 0;
  right: 60px;
  letter-spacing: -0.31em;
  position: absolute;
}

#site > footer > nav:first-child {
  left: 60px;
}

#site > footer > nav:last-child {
  right: 60px;
}

#site > footer > nav > * {
  font-size: 15px;
  letter-spacing: normal;
  cursor: default;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

#site > footer > nav ul {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  width: 100px;
  margin-left: -40px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  background-color: rgba(184,134,11,0.9);
  z-index: 99999;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

#site > footer > nav ul li {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 20px 0px 0px 0px;
}

#site > footer > nav ul li a {
  display: block;
  font-size: 15px;
  cursor: pointer !important;
  color: #000 !important;
  font-weight: 300;
}

#site > header {
  position: absolute;
  top: -100px;
  color: #b8860b;
  font-size: 15px;
  text-align: center;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  font-weight: 300;
  z-index: 9999;
}

#site > header .navcenter {
  display: block;
  font-size: 0;
  letter-spacing: -0.31em;
  position: absolute;
  width: 300px;
  margin-left: -150px;
  left: 50%;
  z-index: 99998;
}

#site > header .navcenter > * {
  font-size: 15px;
  letter-spacing: normal;
  cursor: default;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

#site > header .navcenter a,
#site > header .navcenter span {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  color: #b8860b;
  font-weight: 300;
  margin: 0 10px;
}

#site > header .navcenter span {
  cursor: default;
}

#site > header .cart {
  display: block;
  font-size: 0;
  letter-spacing: -0.31em;
  position: absolute;
  text-align: right;
  z-index: 99998;
}

#site > header .cart > * {
  font-size: 15px;
  letter-spacing: normal;
  cursor: default;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

#site > header .cart a,
#site > header .cart span {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  color: #b8860b;
  font-weight: 300;
  margin: 0 10px;
}

#site > header .cart span {
  cursor: default;
}

#site > header nav {
  display: block;
  font-size: 0;
  letter-spacing: -0.31em;
  position: absolute;
}

#site > header nav:first-child {
  left: 60px;
}

#site > header nav:last-child {
  right: 60px;
}

#site > header nav > * {
  font-size: 15px;
  letter-spacing: normal;
  cursor: default;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}

#site > header nav ul {
  display: none;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  width: 100px;
  text-align: center;
  padding: 0px 20px 20px 20px;
  background-color: rgba(184,134,11,0.9);
  margin-top: 22px;
  z-index: 99999;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

#site > header nav ul li {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 20px 0px 0px 0px;
}

#site > header nav ul li a {
  display: block;
  font-size: 15px;
  cursor: pointer !important;
  color: #000 !important;
  font-weight: 300;
}

.loading {
  position: absolute;
  width: 139px;
  margin-left: -74.5px;
  margin-top: -50px;
  height: 100px;
  left: 50%;
  top: 50%;
  z-index: 10;
}

nav.home {
  position: absolute;
  width: 1000px;
  margin-left: -500px;
  margin-top: 45px;
  height: 30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 50%;
  top: 50%;
  z-index: 10;
  font-size: 0;
  letter-spacing: -0.31em;
  text-align: center;
}

nav.home li {
  display: inline-block;
  height: 30px;
  line-height: 20px;
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
}

nav.home li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}